.nav{
    background-image: linear-gradient(rgba(22, 47, 67, 0.7),
        rgba(4, 9, 30, 0.7)),url(/testimage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
